:root {
  --x-8-6d-8-5d: rgba(134, 216, 93, 1);
  --edba-07: rgba(237, 186, 7, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --ed-1b-24: rgba(237, 27, 36, 1);
  --c-6-6eb-3: rgba(198, 110, 179, 1);
  --x-54-8bda: rgba(84, 139, 218, 1);
  --x-2acc-8f: rgba(42, 204, 143, 1);
  --x-2c-4676: rgba(44, 70, 118, 1);
  --ffffff: rgba(255, 255, 255, 1);
}

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1280px;
  height: 720px;
}

.home .overlap {
  position: relative;
  width: 2007px;
  height: 1142px;
  top: -184px;
  left: -320px;
}

.home .overlap-group {
  position: absolute;
  width: 2007px;
  height: 1142px;
  top: 0;
  left: 0;
}

.home .group {
  position: absolute;
  width: 657px;
  height: 657px;
  top: 0;
  left: 0;
  border-radius: 328.5px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
}

.home .div {
  position: relative;
  width: 538px;
  height: 538px;
  top: 59px;
  left: 59px;
  border-radius: 269.16px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
}

.home .ellipse {
  width: 420px;
  height: 420px;
  top: 59px;
  left: 59px;
  border-radius: 209.82px;
  position: absolute;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
  opacity: 0.05;
}

.home .ellipse-2 {
  width: 290px;
  height: 290px;
  top: 123px;
  left: 125px;
  border-radius: 145.18px;
  position: absolute;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
  opacity: 0.05;
}

.home .overlap-group-wrapper {
  position: absolute;
  width: 724px;
  height: 724px;
  top: 418px;
  left: 1283px;
  border-radius: 362px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
}

.home .overlap-2 {
  position: relative;
  width: 593px;
  height: 593px;
  top: 65px;
  left: 65px;
  border-radius: 296.61px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
}

.home .ellipse-3 {
  position: absolute;
  width: 462px;
  height: 462px;
  top: 65px;
  left: 65px;
  border-radius: 231.21px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
  opacity: 0.05;
}

.home .ellipse-4 {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 135px;
  left: 138px;
  border-radius: 159.98px;
  background: linear-gradient(180deg, rgb(237, 28, 36) 0%, rgba(237, 28, 36, 0) 100%);
  opacity: 0.05;
}

.home .group-2 {
  position: absolute;
  width: 769px;
  height: 358px;
  top: 442px;
  left: 699px;
}

.home .group-3 {
  position: absolute;
  width: 244px;
  height: 358px;
  top: 0;
  left: 0;
  background-color: #ed1c24;
  border-radius: 20px;
}

.home .group-4 {
  position: absolute;
  width: 107px;
  height: 55px;
  top: 24px;
  left: 70px;
}

.home .text-wrapper {
  width: 103px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 51px;
  top: 27px;
  left: 27px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 25px;
  position: absolute;
  top: 293px;
  left: 81px;
  background-color: #ffffff;
  border-radius: 30px;
}

.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ed1c24;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.home .img {
  position: absolute;
  width: 139px;
  height: 145px;
  top: 104px;
  left: 54px;
}

.home .group-5 {
  position: absolute;
  width: 244px;
  height: 358px;
  top: 0;
  left: 525px;
  background-color: #ed1c24;
  border-radius: 20px;
}

.home .group-6 {
  position: absolute;
  width: 154px;
  height: 150px;
  top: 109px;
  left: 46px;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 42px;
  top: 27px;
  left: 31px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home .group-7 {
  position: absolute;
  width: 244px;
  height: 358px;
  top: 0;
  left: 262px;
  background-color: #ed1c24;
  border-radius: 20px;
}

.home .group-8 {
  position: absolute;
  width: 147px;
  height: 148px;
  top: 111px;
  left: 48px;
}

.home .group-9 {
  position: absolute;
  width: 109px;
  height: 55px;
  top: 24px;
  left: 70px;
}

.home .text-wrapper-5 {
  width: 105px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 73px;
  top: 27px;
  left: 16px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home .group-wrapper {
  position: absolute;
  width: 1280px;
  height: 60px;
  top: 844px;
  left: 320px;
  background-color: var(--ffffff);
  box-shadow: 6px 0px 10px #0000001a;
}

.home .group-10 {
  position: relative;
  width: 295px;
  height: 36px;
  top: 11px;
  left: 493px;
}

.home .image {
  position: absolute;
  width: 29px;
  height: 36px;
  top: 0;
  left: 66px;
}

.home .group-11 {
  position: absolute;
  width: 20px;
  height: 22px;
  top: 0;
  left: 4px;
  background-image: url(./img/vector.png);
  background-size: 100% 100%;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 26px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-4);
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .group-12 {
  position: absolute;
  width: 28px;
  height: 35px;
  top: 1px;
  left: 0;
}

.home .vector {
  position: absolute;
  width: 26px;
  height: 21px;
  top: 0;
  left: 0;
}

.home .text-wrapper-8 {
  position: absolute;
  top: 25px;
  left: 2px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--ed-1b-24);
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.home .group-13 {
  position: absolute;
  width: 49px;
  height: 35px;
  top: 1px;
  left: 125px;
}

.home .group-14 {
  position: absolute;
  width: 28px;
  height: 35px;
  top: 1px;
  left: 207px;
}

.home .group-15 {
  position: absolute;
  width: 25px;
  height: 36px;
  top: 0;
  left: 270px;
}

.home .div-wrapper {
  position: absolute;
  width: 197px;
  height: 131px;
  top: 257px;
  left: 420px;
}

.home .overlap-3 {
  position: relative;
  height: 131px;
}

.home .TBL {
  position: absolute;
  width: 197px;
  height: 105px;
  top: 0;
  left: 0;
}

.home .group-16 {
  position: absolute;
  width: 186px;
  height: 31px;
  top: 100px;
  left: 11px;
}

.home .rectangle {
  position: absolute;
  width: 877px;
  height: 253px;
  top: 220px;
  left: 655px;
}

.home .group-17 {
  position: absolute;
  width: 46px;
  height: 5px;
  top: 415px;
  left: 1050px;
}

.home .group-18 {
  position: absolute;
  width: 148px;
  height: 68px;
  top: 285px;
  left: 839px;
}

.home .group-19 {
  position: absolute;
  width: 148px;
  height: 70px;
  top: 291px;
  left: 1006px;
}

.home .group-20 {
  position: absolute;
  width: 148px;
  height: 65px;
  top: 291px;
  left: 1166px;
}

.home .group-21 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 549px;
  left: 423px;
}

.home .vector-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  top: -16px;
  left: -20px;
  background-image: url(./img/ellipse-3.png);
  background-size: 100% 100%;
}

.home .vector-2 {
  position: absolute;
  width: 24px;
  height: 21px;
  top: 36px;
  left: 37px;
}

.home .group-22 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 629px;
  left: 423px;
}

.home .layer-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  top: -16px;
  left: -20px;
  background-image: url(./img/ellipse-4.png);
  background-size: 100% 100%;
}

.home .layer {
  position: absolute;
  width: 15px;
  height: 26px;
  top: 33px;
  left: 42px;
}

.home .group-23 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 453px;
  left: 403px;
}

.home .text-wrapper-9 {
  top: 486px;
  left: 506px;
  background: linear-gradient(180deg, rgb(249, 212, 72) 0%, rgb(255, 153, 0) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  text-align: center;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-10 {
  top: 566px;
  left: 506px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--c-6-6eb-3);
  text-align: center;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-11 {
  top: 646px;
  left: 506px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--x-54-8bda);
  text-align: center;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .group-24 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 709px;
  left: 420px;
}

.home .img-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  top: -16px;
  left: -20px;
  background-image: url(./img/ellipse-5.png);
  background-size: 100% 100%;
}

.home .vector-3 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 31px;
  left: 38px;
}

.home .text-wrapper-12 {
  top: 726px;
  left: 506px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--x-2acc-8f);
  text-align: center;
  position: absolute;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.nav-padding {
  padding: 20px;
}

.nav-item-text {
  font-size: larger;
}

.badge-wrapper-in-card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #EC1D24;
  border: solid #FAC304;
}

.text-time {
  color: #FFF;
  font-weight: 700;
}

.no-border {
  border: none !important;
}

.no-border-top {
  border-top: none !important;
}

.nav-custom {
  border-top: solid 0.1px #bdbdbd;
}

.nav-custom-bg-light {
  background-color: #FFFFFF;
}

.img-card-item {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
  .hide-in-mobile-xs {
    display: none !important;
  }

  .logo-header-tbl {
    width: 100%;
    height: 100%;
    max-width: 135px;
  }

  .no-padding-xs {
    padding: 0 !important;
  }

  .text-menu {
    font-size: 14px;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 75px;
  }

  .pertanyaan {
    font-size: 24px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 13px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .hide-in-mobile-sm {
    display: none !important;
  }

  .logo-header-tbl {
    width: 100%;
    height: 100%;
    max-width: 175px;
  }

  .no-padding-sm {
    padding: 0 !important;
  }

  .text-menu {
    font-size: 14px;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 125px;
  }

  .pertanyaan {
    font-size: 24px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hide-in-mobile-md {
    display: none !important;
  }

  .margin-top-layout {
    margin-top: 75px !important;
  }

  .no-padding-md {
    padding: 0 !important;
  }

  .no-margin-md {
    margin: 0 !important;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 250px;
  }

  .pertanyaan {
    font-size: 35px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .hide-in-mobile-lg {
    display: none !important;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 320px;
  }

  .margin-top-layout {
    margin-top: 75px !important;
  }

  .pertanyaan {
    font-size: 35px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hide-in-mobile-xl {
    display: none !important;
  }

  .margin-top-layout {
    margin-top: 75px !important;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 400px;
  }

  .pertanyaan {
    font-size: 35px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  .hide-in-mobile-xxl {
    display: none !important;
  }

  .margin-top-layout {
    margin-top: 75px !important;
  }

  .badge-wrapper {
    width: 100%;
    padding: 0 650px;
  }

  .owl-carousel .owl-item img {
    max-height: 150px;
  }

  .pertanyaan {
    font-size: 35px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
  }

  .nav-text {
    font-size: 14px;
  }
}

.btn-customs {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  z-index: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-customs:after {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-customs span {
  z-index: 1;
}
.btn-customs:hover,
.btn-customs:active,
.btn-customs:focus {
  outline: none !important;
}
.btn-customs:hover:after {
  left: 0;
}
.btn-customs.btn-primary {
  background: #3e64ff;
  border-color: #3e64ff;
  color: #fff;
}
.btn-customs.btn-primary:hover,
.btn-customs.btn-primary:focus {
  border-color: #002ad7 !important;
}
.btn-customs.btn-primary:hover:after,
.btn-customs.btn-primary:focus:after {
  background: #002ad7 !important;
}
.btn-customs.btn-primary.btn-link {
  background: transparent;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-customs.btn-outline-primary {
  color: #3e64ff;
  border-color: #3e64ff;
  background: #fff;
}
.btn-customs.btn-outline-primary:hover,
.btn-customs.btn-outline-primary:focus {
  border-color: #3e64ff;
  color: #fff;
}
.btn-customs.btn-outline-primary:hover:after,
.btn-customs.btn-outline-primary:focus:after {
  background: #3e64ff;
}
.btn-customs.btn-secondary {
  color: #fff;
  border-color: #5edfff;
  background: #5edfff;
}
.btn-customs.btn-secondary:hover,
.btn-customs.btn-secondary:focus {
  border-color: #00c6f7 !important;
}
.btn-customs.btn-secondary:hover:after,
.btn-customs.btn-secondary:focus:after {
  background: #00c6f7 !important;
}
.btn-customs.btn-secondary.btn-link {
  color: #5edfff;
  background: transparent;
}
.btn-customs.btn-outline-secondary {
  color: #5edfff;
  border-color: #5edfff;
  background: #fff;
}
.btn-customs.btn-outline-secondary:hover,
.btn-customs.btn-outline-secondary:focus {
  border-color: #5edfff;
  color: #fff;
}
.btn-customs.btn-outline-secondary:hover:after,
.btn-customs.btn-outline-secondary:focus:after {
  background: #5edfff;
}
.btn-customs.btn-tertiary {
  color: #fff;
  background: #ff4893;
  border-color: #ff4893;
}
.btn-customs.btn-tertiary:hover,
.btn-customs.btn-tertiary:focus {
  border-color: #e1005c !important;
}
.btn-customs.btn-tertiary:hover:after,
.btn-customs.btn-tertiary:focus:after {
  background: #e1005c !important;
}
.btn-customs.btn-tertiary.btn-link {
  color: #ff4893;
  background: transparent;
}
.btn-customs.btn-outline-tertiary {
  color: #ff4893;
  border-color: #ff4893;
  background: #fff;
}
.btn-customs.btn-outline-tertiary:hover,
.btn-customs.btn-outline-tertiary:focus {
  border-color: #ff4893;
  color: #fff;
}
.btn-customs.btn-outline-tertiary:hover:after,
.btn-customs.btn-outline-tertiary:focus:after {
  background: #ff4893;
}
.btn-customs.btn-quarternary {
  color: #fff;
  border-color: #01d28e;
  background: #01d28e;
}
.btn-customs.btn-quarternary:hover,
.btn-customs.btn-quarternary:focus {
  border-color: #016c49 !important;
}
.btn-customs.btn-quarternary:hover:after,
.btn-customs.btn-quarternary:focus:after {
  background: #016c49 !important;
}
.btn-customs.btn-quarternary.btn-link {
  color: #01d28e;
  background: transparent;
}
.btn-customs.btn-outline-quarternary {
  color: #01d28e;
  border-color: #01d28e;
  background: #fff;
}
.btn-customs.btn-outline-quarternary:hover,
.btn-customs.btn-outline-quarternary:focus {
  border-color: #01d28e;
  color: #fff;
}
.btn-customs.btn-outline-quarternary:hover:after,
.btn-customs.btn-outline-quarternary:focus:after {
  background: #01d28e;
}
.btn-customs.btn-white {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.btn-customs.btn-round {
  border-radius: 40px;
}
.btn-customs.btn-link {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}
.btn-customs.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 20px;
  font-size: 12px;
}
.btn-customs.btn-lg,
.btn-group-lg > .btn {
  padding: 17px 24px;
  font-size: 16px;
}
.btn-customs.btn-fb {
  background: #86D85D;
  border-color: #86D85D;
  color: #000;
}
.btn-customs.btn-fb:hover,
.btn-customs.btn-fb:focus {
  color: #86D85D;
}
.btn-customs.btn-fb:hover:after,
.btn-customs.btn-fb:focus:after {
  background: #fff;
}
.btn-customs.btn-fb.btn-outline:hover,
.btn-customs.btn-fb.btn-outline:focus {
  border-color: #86D85D;
  color: #fff;
}
.btn-customs.btn-fb.btn-outline:hover:after,
.btn-customs.btn-fb.btn-outline:focus:after {
  background: #86D85D;
}
.btn-customs.btn-twitter {
  background: #69b6f0;
  border-color: #69b6f0;
  color: #fff;
}
.btn-customs.btn-twitter:hover,
.btn-customs.btn-twitter:focus {
  color: #69b6f0;
}
.btn-customs.btn-twitter:hover:after,
.btn-customs.btn-twitter:focus:after {
  background: #fff;
}
.btn-customs.btn-twitter.btn-outline:hover,
.btn-customs.btn-twitter.btn-outline:focus {
  border-color: #69b6f0;
  color: #fff;
}
.btn-customs.btn-twitter.btn-outline:hover:after,
.btn-customs.btn-twitter.btn-outline:focus:after {
  background: #69b6f0;
}
.btn-customs.btn-linkedin {
  background: #2884ba;
  border-color: #2884ba;
  color: #fff;
}
.btn-customs.btn-linkedin:hover,
.btn-customs.btn-linkedin:focus {
  color: #2884ba;
}
.btn-customs.btn-linkedin:hover:after,
.btn-customs.btn-linkedin:focus:after {
  background: #fff;
}
.btn-customs.btn-linkedin.btn-outline:hover,
.btn-customs.btn-linkedin.btn-outline:focus {
  border-color: #2884ba;
  color: #fff;
}
.btn-customs.btn-linkedin.btn-outline:hover:after,
.btn-customs.btn-linkedin.btn-outline:focus:after {
  background: #2884ba;
}
.btn-customs.btn-pinterest {
  background: #d03940;
  border-color: #d03940;
  color: #fff;
}
.btn-customs.btn-pinterest:hover,
.btn-customs.btn-pinterest:focus {
  color: #d03940;
}
.btn-customs.btn-pinterest:hover:after,
.btn-customs.btn-pinterest:focus:after {
  background: #fff;
}
.btn-customs.btn-pinterest.btn-outline:hover,
.btn-customs.btn-pinterest.btn-outline:focus {
  border-color: #d03940;
  color: #fff;
}
.btn-customs.btn-pinterest.btn-outline:hover:after,
.btn-customs.btn-pinterest.btn-outline:focus:after {
  background: #d03940;
}
.btn-customs.btn-dribbble {
  background: #ea6294;
  border-color: #ea6294;
  color: #fff;
}
.btn-customs.btn-dribbble:hover,
.btn-customs.btn-dribbble:focus {
  color: #ea6294;
}
.btn-customs.btn-dribbble:hover:after,
.btn-customs.btn-dribbble:focus:after {
  background: #fff;
}
.btn-customs.btn-dribbble.btn-outline:hover,
.btn-customs.btn-dribbble.btn-outline:focus {
  border-color: #ea6294;
  color: #fff;
}
.btn-customs.btn-dribbble.btn-outline:hover:after,
.btn-customs.btn-dribbble.btn-outline:focus:after {
  background: #ea6294;
}
.btn-customs.btn-outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  background: transparent;
}